<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试--高速测试</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="Chrome=1,IE=Edge;IE=11;IE=10;IE=9"/>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>

    <script src="/static/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
</head>
<style>
    @page {
        /*页面设置：a4 横幅*/
        size: A4 portrait;
        margin: 10px;
    }

    @media print {
        html,body {
            height: 297mm;
            width: 210mm;
            font-size: 10px;
        }
        /*隐藏不打印*/
        background {none;}
        nav {display: none;}
        input.btn {display: none;}
        .test-number {display: none;}
        /*细节调整*/
        table,h3 {
            text-align: center;
            vertical-align: middle!important;
            page-break-inside: avoid;
            table-layout: fixed;
        }
        td {
            text-align: center;
            vertical-align: middle!important;
            border: 1px solid black!important;
        }
        .table-bordered>tbody>tr>td,
        .table-bordered>tbody>tr>th,
        .table-bordered>tfoot>tr>td,
        .table-bordered>tfoot>tr>th,
        .table-bordered>thead>tr>td,
        .table-bordered>thead>tr>th {
            border: 1px solid black!important;
            padding: 1px!important;
            line-height: 1!important;
        }
        table{
            margin: -1px!important;
        }
        .table-bordered>tbody>tr>td{
            font-size: 1px!important;
        }
        /*底部版权*/
        #copyright > .container-fluid {text-align: center;}
        #document_ref {text-align: right;margin-top: 10px;}
    }

    @media screen {
        table,nav,h3,.test-number{
            font-family:"Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","STHeiti","MingLiu";
        }
        h3,input,.test-number {text-align: center;}
        .test-number {color: red;}
        table td {text-align: center;vertical-align: middle!important;}
        table {table-layout: fixed;}
        #document_ref {text-align: right;margin-top: 10px;}
        .table1 tr:first-child > td {background-color: #5bc0de;color: whitesmoke;}
        .navbar-brand {
        animation: colorful 5s;
        -webkit-animation: colorful 5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;}
        @-webkit-keyframes colorful {
            0% { color: #c00; }
            50% { color: orange; }
            100% { color: yellowgreen; }
        }
        .navbar-collapse {margin-top: 9px;}
        .navbar-collapse > a {font-size: 16px;}
        nav {margin-bottom: 20px;}
        #copyright {display: none;}
    }
</style>
<body>
<!--这边可以通过jinja2模板继承重用-->
<nav class="navbar navbar-default navbar-static-top nav-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--无论折叠与否都显示-->
        <a class="navbar-brand" id="brand">技术部走行工单系统</a>
    </div>
    <!--折叠数据-->
    <div class="collapse navbar-collapse navbar-responsive-collapse" id="navbar1">
        <a href="{{ url_for('maintain') }}" class="btn">数据库维护</a>|
        <a href="" class="btn">test2</a>|
        <a href="" class="btn">test3</a>
    </div>
</nav>
<!--重用结束-->
<div class="container">
<h3>外胎高速性能试验报告<br><small>TIRE WHEEL TEST PROPERTY TEST REPORT</small></h3>
    <form action="" method="post">
        <div class="table-responsive">
        <table class="table table-bordered table-condensed table1">
            <tr>
                <td colspan="6">基础信息</td>
            </tr>
            <tr>
                <td>标称尺度<br><small>Size</small></td>
                <td>{{ detail.get('size') }}</td>
                <td>委托编号<br><small>Request Number</small></td>
                <td>{{ detail.get('req_num') }}</td>
                <td>实验目的<br><small>Purpose</small></td>
                <td>{{ detail.get('purpose') }}</td>
            </tr>
            <tr>
                <td>商标/花纹代码<br><small>Pattern</small></td>
                <td>{{ detail.get('brand') }}</td>
                <td>DOT码/加硫机号<br><small>DOT Num.</small></td>
                <td id="dot_num">{{ data.get('dot_num') or '<input type="text" name="dot_num" class="form-control">'|safe }}</td>
                <td>组装时间<br><small>Assembly Time</small></td>
                <td id="assembly_time">{{ data.get('assembly_time') or '<input type="text" name="assembly_time" class="datetime form-control">'|safe }}</td>
            </tr>
            <tr>
                <td>花纹代号<br>Design Num.</td>
                <td id="pattern_code">{{ data.get('pattern_code') or'<input type="text" name="pattern_code" class="form-control">'|safe }}</td>
                <td>周期牌号<br><small>Week Number</small></td>
                <td id="dot_week">{{ data.get('dot_week') or'<input type="text" name="dot_week" class="form-control">'|safe }}</td>
                <td>完成时间<br><small>Finish Date</small></td>
                <td id="finish_time">{{ data.get('finish_time') or'<input type="text" class="datetime form-control" name="finish_time">'|safe }}</td>
            </tr>
            <tr>
                <td>模具号<br><small>Mold</small></td>
                <td id="mold_num">{{ data.get('mold_num') or'<input type="text" name="mold_num" class="form-control">'|safe }}</td>
                <td>加硫条码号<br><small>Barcode</small></td>
                <td id="barcode">{{ data.get('barcode') or'<input type="text" name="barcode" class="form-control">'|safe }}</td>
                <td>标准轮辋<br><small>Standard Rim</small></td>
                <td id="rim_code">{{ data.get('rim_code') or'<input type="text" name="rim_code" class="form-control">'|safe }}</td>
            </tr>
            <tr>
                <td>胎面批号<br><small>Tread Run</small></td>
                <td id="tread_num">{{ data.get('tread_num') or'<input type="text" name="tread_num" class="form-control">'|safe }}</td>
                <td>最大荷重<br><small>Max Load</small></td>
                <td>{{ detail.get('load') }}kg</td>
                <td>最大风压<br><small>Max Pressure</small></td>
                <td>{{ detail.get('inflate') }}kpa</td>
            </tr>
        </table>
        </div>
        <!-- 多份表单循环点开始 -->
        {# input 第一种类型宏 #}
        {% macro input_1(name,prefix,colspan,rowspan=0,type='text',class='form-control') -%}
            {% if data.get(prefix + '_' + name) -%}
                <td colspan="{{ colspan }}" id="{{ prefix }}_{{ name }}" rowspan="{{ rowspan }}">
                    {{ data.get(prefix + '_' + name) }}
                </td>
            {% else %}
                <td colspan="{{ colspan }}" id="{{ prefix }}_{{ name }}">
                    <input type="{{ type }}" name="{{ prefix }}_{{ name }}" class="{{ class }}">
                </td>
            {%- endif %}
        {%- endmacro %}
        {# input 第二种类型宏 差别在于多了时间类datetime #}
        {% macro input_2(name,prefix,colspan,rowspan=0,type='text',class='form-control datetime') -%}
            {% if data.get(prefix + '_' + name) -%}
                <td colspan="{{ colspan }}" id="{{ prefix }}_{{ name }}" rowspan="{{ rowspan }}">
                    {{ data.get(prefix + '_' + name) }}
                </td>
            {% else %}
                <td colspan="{{ colspan }}" id="{{ prefix }}_{{ name }}">
                    <input type="{{ type }}" name="{{ prefix }}_{{ name }}" class="{{ class }}">
                </td>
            {%- endif %}
        {%- endmacro %}
        {# input 第三种类型宏,用于计算平均值#}
        {% macro input_3(name,prefix,colspan,rowspan=0,type='text',class='form-control avg',cls_td='',readonly=False)-%}
            {% if data.get(prefix + '_' + name) -%}
                <td colspan="{{ colspan }}" id="{{ prefix }}_{{ name }}" rowspan="{{ rowspan }}" class="{{ cls_td }}">
                    {{ data.get(prefix + '_' + name) }}
                </td>
            {% elif not readonly %}
                <td colspan="{{ colspan }}" id="{{ prefix }}_{{ name }}" class="{{ cls_td }}">
                    <input type="{{ type }}" name="{{ prefix }}_{{ name }}" class="{{ class }}">
                </td>
            {% elif readonly %}
                <td colspan="{{ colspan }}" id="{{ prefix }}_{{ name }}" class="{{ cls_td }}">
                    <input type="{{ type }}" name="{{ prefix }}_{{ name }}" class="{{ class }}" readonly>
                </td>
            {%- endif %}
        {%- endmacro %}

        {% set LETTERS='ABCDEFG' %}
        {% for k,v in quantity.items() %}
            {% for x in range(v) %}
            {% set a,b,c=x|safe,k,x+1 %}
            {% set x= a+'_'+b %}
        <div class="test-number">高速测试第{{ c }}份报表,测试条件:{{ k }}</div>
        <table class="table table-bordered table-condensed table1">
                <tr>
                    <td colspan="11">试验前尺寸</td>
                </tr>
                <tr>
                    <td>测试风压<br>Pressure</td>
                    {{ input_1(name='dim_test_inflate',prefix=x|safe,colspan=2) }}
                    <td>测试轮辋<br>Rim</td>
                    {{ input_1(name='dim_test_rim_code',prefix=x|safe,colspan=2) }}
                    <td>测试时间<br>Time</td>
                    {{ input_2(name='dim_test_finish_time',prefix=x|safe,colspan=2) }}
                    <td >技术员<br>Tech.</td>
                    {{ input_1(name='dim_test_operator',prefix=x|safe) }}
                </tr>
                <tr>
                    <td>项目<br>Item</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>平均值<br>Avg.</td>
                    <td>基准<br>SPEC</td>
                    <td>判定<br>Judgement</td>
                    <td>量具编号<br>Gauge</td>
                </tr>
                <tr>
                    <td>重量<br>Weight</td>
                    {{ input_1(name='dim_test_tire_weight',prefix=x|safe,colspan=7) }}
                    {{ input_1(name='dim_test_spec_weight',prefix=x|safe) }}
                    <td></td>
                    {{ input_1(name='dim_test_weight_gauge',prefix=x|safe) }}
                </tr>
                <tr>
                    <td>外径<br>Diameter</td>
                    {{ input_1(name='dim_test_tire_out_dia',prefix=x|safe,colspan=7) }}
                    {{ input_1(name='dim_test_tire_spec_dia',prefix=x|safe) }}
                    <td></td>
                    {{ input_1(name='dim_test_tire_dia_gauge',prefix=x|safe) }}
                </tr>
                <tr>
                    <td>总宽<br>Overall Width</td>
                    {{ input_3(name='dim_test_tire_overall_width_1',prefix=x|safe) }}
                    {{ input_3(name='dim_test_tire_overall_width_2',prefix=x|safe) }}
                    {{ input_3(name='dim_test_tire_overall_width_3',prefix=x|safe) }}
                    {{ input_3(name='dim_test_tire_overall_width_4',prefix=x|safe) }}
                    {{ input_3(name='dim_test_tire_overall_width_5',prefix=x|safe) }}
                    {{ input_3(name='dim_test_tire_overall_width_6',prefix=x|safe) }}
                    {{ input_3(name='dim_test_tire_overall_width_avg',prefix=x|safe,cls_td='avg1',readonly=True) }}
                    {{ input_1(name='dim_test_tire_overall_width_spec',prefix=x|safe) }}
                    <td></td>
                    {{ input_1(name='dim_test_tire_overall_width_gauge',prefix=x|safe) }}
                </tr>
                <tr>
                    <td>断宽<br>Section Width</td>
                    {{ input_3(name='dim_test_tire_section_width_1',prefix=x|safe) }}
                    {{ input_3(name='dim_test_tire_section_width_2',prefix=x|safe) }}
                    {{ input_3(name='dim_test_tire_section_width_3',prefix=x|safe) }}
                    {{ input_3(name='dim_test_tire_section_width_4',prefix=x|safe) }}
                    {{ input_3(name='dim_test_tire_section_width_5',prefix=x|safe) }}
                    {{ input_3(name='dim_test_tire_section_width_6',prefix=x|safe) }}
                    {{ input_3(name='dim_test_tire_section_width_avg',prefix=x|safe,cls_td='avg1',readonly=True) }}
                    {{ input_1(name='dim_test_tire_section_width_spec',prefix=x|safe) }}
                    <td></td>
                    {{ input_1(name='dim_test_tire_section_width_gauge',prefix=x|safe)}}
                </tr>
                <tr>
                    <td colspan="5">尺寸测量判定<br>Judgement</td>
                    <td colspan="6">
                        <input type="radio" name="dim_judge">合格
                        <input type="radio" name="dim_judge">不合格
                    </td>
                </tr>
        </table>
        <table class="table table-bordered table-condensed table1">
            <tr>
                <td colspan="8">试验后轮胎状态分析</td>
            </tr>
            <tr>
                <td>测试风压<br>Pressure</td>
                <td></td>
                <td>测试轮辋<br>Rim</td>
                <td></td>
                <td>测试时间<br>Test Date</td>
                {{ input_2(name='highspeed_test_date',prefix=x|safe)}}
                <td>环境温度<br>Temperature</td>
                {{ input_1(name='highspeed_test_temp',prefix=x|safe)}}
            </tr>
            <tr>
                <td>参考标准<br>Reference</td>
                <td>{{ k }}</td>
                <td>合格条件<br>Cert.Min.</td>
                <td></td>
                <td>设备编号<br>Equipment Id</td>
                {{ input_1(name='highspeed_test_equipment_id',prefix=x|safe) }}
                <td>技术员<br>Tech.</td>
                {{ input_1(name='highspeed_test_operator',prefix=x|safe) }}
            </tr>
        </table>
        <!-- 两表组合 -->
        <div class="row">
            <div class="col-md-6">
            <!-- 高速数据表 -->
            <table class="table table-bordered table-condensed table1">
            {% if database.get(k) %}
                <tr>
                    <td colspan="6">轮胎实验数据</td>
                </tr>
                {% set td_header = ['STEP','TIME','LOAD','SPEED','MILE','TOTAL'] %}
                <tr>
                {% for value in td_header -%}
                    <td>{{ value }}</td>
                {%- endfor %}
                </tr>
                {% for j,x in database.get(k).items()[1:] %}
                    <tr>
                    <td>{{ j }}</td>
                    <td>{{ database.get(k).get(j).get('time') }}</td>
                    <td>{{ database.get(k).get('info').get('load') * detail.get('load') / 100 }}kg</td>
                    <td>{{ database.get(k).get(j).get('speed') }}</td>
                    <td>{{ database.get(k).get(j).get('mile') }}</td>
                    <td>{{ database.get(k).get(j).get('total') }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered table-condensed table1">
                    <tr>
                        <td colspan="8">试验后轮胎状态</td>
                    </tr>
                    <tr>
                        <td>项目<br><small>Item</small></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>平均值<br><small>Avg</small></td>
                    </tr>
                    <tr>
                        <td>外径<br><small>Dia.</small></td>
                        {{ input_1(name='highspeed_after_test_dia',prefix=x|safe,colspan=7) }}
                    </tr>
                    <tr>
                        <td>总宽<br><small>Overall Width</small></td>
                        {{ input_3(name='highspeed_after_test_ow_1',prefix=x|safe) }}
                        {{ input_3(name='highspeed_after_test_ow_2',prefix=x|safe) }}
                        {{ input_3(name='highspeed_after_test_ow_3',prefix=x|safe) }}
                        {{ input_3(name='highspeed_after_test_ow_4',prefix=x|safe) }}
                        {{ input_3(name='highspeed_after_test_ow_5',prefix=x|safe) }}
                        {{ input_3(name='highspeed_after_test_ow_6',prefix=x|safe) }}
                        {{ input_3(name='highspeed_after_test_ow_avg',prefix=x|safe,cls_td='avg1',readonly=True) }}
                    </tr>
                    <tr>
                        <td>断宽<br><small>Section Width</small></td>
                        {{ input_3(name='highspeed_after_test_sw_1',prefix=x|safe) }}
                        {{ input_3(name='highspeed_after_test_ow_2',prefix=x|safe) }}
                        {{ input_3(name='highspeed_after_test_ow_3',prefix=x|safe) }}
                        {{ input_3(name='highspeed_after_test_ow_4',prefix=x|safe) }}
                        {{ input_3(name='highspeed_after_test_ow_5',prefix=x|safe) }}
                        {{ input_3(name='highspeed_after_test_ow_6',prefix=x|safe) }}
                        {{ input_3(name='highspeed_after_test_ow_avg',prefix=x|safe,cls_td='avg1',readonly=True) }}
                    </tr>
                    <tr>
                        <td>总阶段<br><small>Total Phases</small></td>
                        {{ input_1(name='highspeed_total_phases',prefix=x|safe,type='number') }}
                        <td>最后阶段里程<br><small>Last Phases km</small></td>
                        {{ input_1(name='highspeed_last_phases',prefix=x|safe,colspan=2) }}
                        <td>总里程(千米)<br><small>Total km</small></td>
                        {{ input_1(name='highspeed_total_km',prefix=x|safe,colspan=2) }}
                    </tr>
                    <tr>
                        <td colspan="3">结果判定<br><small>Result Judgement</small></td>
                        <td colspan="5">
                            <input type="radio" name="highspeed_test_result">合格
                            <input type="radio" name="highspeed_test_result">不合格
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">分析代码<br><small>Analysis Code</small></td>
                        {{ input_1(name='highspeed_analy_code',prefix=x|safe,colspan=2) }}
                        <td colspan="2">二期分析代码<br><small>Secondary Analysis Code</small></td>
                        {{ input_1(name='highspeed_analy_second_code',prefix=x|safe,colspan=2) }}
                    </tr>
                    <tr>
                        <td colspan="2">分析位置<br><small>Analy Location</small></td>
                        {{ input_1(name='highspeed_analy_location',prefix=x|safe,colspan=2) }}
                        <td colspan="2">二期分析位置<br><small>Secondary Analy Location</small></td>
                        {{ input_1(name='highspeed_analy_second_location',prefix=x|safe,colspan=2) }}
                    </tr>
                </table>
            </div>
        </div>
        <table class="table table-bordered table-condensed table1">
            <tr>
                <td colspan="2">分析注解<small>Anyalysis Comments</small></td>
            </tr>
            <tr>
                <td><img src="" alt="1占位"></td>
                <td><img src="" alt="2占位"></td>
            </tr>
        </table>
        <!-- 多份表单循环点结束 -->
            {% endfor %}
        {% endfor %}
        <table class="table table-bordered">
            <tr>
                <td rowspan="2">备注</td>
                <td rowspan="2">
                    {{ data.get('highspeed_remark') or '<textarea name="highspeed_remark" id="" cols="10" rows="4" class="form-control"></textarea>'|safe }}
                </td>
                <td>核定<br><small>Approval</small></td>
                <td>审核<br><small>Aduditing</small></td>
                <td>报告人<br><small>Report</small></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Jim Ge</td>
            </tr>
        </table>
        <input type="submit" class="btn btn-success" name="save" value="Save">
        <div id="document_ref">QR-03-011-06</div>
    </form>
</div>
<div class="copyright" id="copyright">
    <div class="container-fluid">
        <div>Cooper(Kunshan)Tire Co.,Ltd.</div>
        <div>固铂(昆山)轮胎有限公司</div>
        <table class="table" id="copyright_table">
            <tr>
                <td>
                <div>CONFIDENTIAL</div>
                <div>COMPETIVE COMMERICAL INFORMATION</div>
                <div>Access limited to authorized personnel|Copyright@Unpublished</div>
                </td>
                <td>
                <div>机密的</div>
                <div>有竞争力的商业信息</div>
                <div>仅限授权人员访问|版权所有@尚未发表</div>
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    $(".datetime").datetimepicker({
        format:'yyyy-mm-dd hh:ii',
        //autoclose:true,//点选日期之后关闭控件
        todayHighlight:true,
        todayBtn:true,
        maxView: "decade"
    });
    /*
    双击修改td，保留原值
     */
    $("td").dblclick(function(){
        //获取不到td的id值则取消逻辑
        if ('undefined' == typeof($(this).attr('id'))){
            alert('该单元格无法修改');
            return false;
        } else {
            try {
                var nodename = $(this).children()[0].nodeName;
            } catch(e) {
                var nodename = 'undefined';
            };
            if( nodename == 'INPUT' || $(this).attr('class') == 'avg1') {
                /*
                如果没有子节点那么就会出错，无法执行下一步的判断
                td中如果嵌套了input也不提供修改,如果是avg1的机器计算的也不提供修改
                知识点：1.jquery对象和原生js对象的转换 2.判断节点的方法
                */
                //避免干扰
                //alert('该单元格已经嵌套INPUT,无法再次生成INPUT');
                return false;
            } else {
                //若获取到id值传入构造的input中作为name
                var td_id = $(this).attr('id');
                //原值
                var old_value = $(this)[0].innerText;
                //原class
                //console.log(td_id);
                //console.log(old_value);
                if(confirm('确定需要修改数据吗？')){
                    if (td_id.indexOf('time') != -1){
                    str = '<input type="text" class="form-control datetime" name="' +
                    td_id + '" value="' + old_value + '">';
                    } else {
                        str = '<input type="text" class="form-control" name="' +
                            td_id + '" value="' + old_value + '">';
                    }
                    //console.log(str);
                    $(this).html(str);
                }
            }
        }
    });
    /*
    求平均值
     */
    $(".avg").bind("input propertychange oninput", function(){
        $(".avg1").each(function(){
            var x = $(this).siblings().children('input.avg');
            var sum=0;
            for(var i=0;i<6;i++){
                try{
                    sum += Number(x[i].value);
                } catch(e) {
                    //console.log(e);
                    sum += 0;
                };
                console.log(sum);
            };
            if ($(this).children){
                console.log('have no children');
                $(this).html((sum/6).toFixed(2));
            } else {
                $(this).children().attr('value',(sum/6).toFixed(2));
            }
        });
    })
</script>
</body>
</html>