<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="Chrome=1,IE=Edge;IE=11;IE=10;IE=9"/>
    <title>测试--静态测试</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>

    <script src="/static/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
</head>
<style>
    @page {
        /*页面设置：a4 横幅*/
        size: A4 portrait;
        margin: 10px;
    }

    @media print {
        html,body {
            height: 297mm;
            width: 210mm;
            font-size: 8px;
        }
        /*隐藏不打印*/
        background {none;}
        nav {display: none;}
        input.btn {display: none;}
        /*细节调整*/
        table,h3 {
            text-align: center;
            vertical-align: middle!important;
            page-break-inside: avoid;
            table-layout: fixed;
        }
        td {
            text-align: center;
            vertical-align: middle!important;
            border: 1px solid black!important;
        }
        .table-bordered>tbody>tr>td,
        .table-bordered>tbody>tr>th,
        .table-bordered>tfoot>tr>td,
        .table-bordered>tfoot>tr>th,
        .table-bordered>thead>tr>td,
        .table-bordered>thead>tr>th {
            border: 1px solid black!important;
            padding: 1px!important;
            line-height: 1!important;
        }
        table{
            margin: -1px!important;
        }
        /*底部版权*/
        #copyright > .container-fluid {text-align: center;}
        #document_ref {text-align: right;margin-top: 10px;}
    }

    @media screen {
        table,nav,h3{
            font-family:"Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","STHeiti","MingLiu";
        }
        h3,input {text-align: center;}
        table td {text-align: center;vertical-align: middle!important;}
        table {table-layout: fixed;}
        #document_ref {text-align: right;margin-top: 10px;}
        .table1 tr:first-child > td {background-color: #5bc0de;color: whitesmoke;}
        .navbar-brand {
        animation: colorful 5s;
        -webkit-animation: colorful 5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;}
        @-webkit-keyframes colorful {
            0% { color: #c00; }
            50% { color: orange; }
            100% { color: yellowgreen; }
        }
        .navbar-collapse {margin-top: 9px;}
        .navbar-collapse > a {font-size: 16px;}
        nav {margin-bottom: 20px;}
        #copyright {display: none;}
    }
</style>
<body>
<!--这边可以通过jinja2模板继承重用-->
<nav class="navbar navbar-default navbar-static-top nav-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--无论折叠与否都显示-->
        <a class="navbar-brand" id="brand">技术部走行工单系统</a>
    </div>
    <!--折叠数据-->
    <div class="collapse navbar-collapse navbar-responsive-collapse" id="navbar1">
        <a href="{{ url_for('maintain') }}" class="btn">数据库维护</a>|
        <a href="" class="btn">test2</a>|
        <a href="" class="btn">test3</a>
    </div>
</nav>
<!--重用结束-->
{# input 第一种类型宏 #}
{% macro input_1(name,prefix,colspan,rowspan=0,type='text',class='form-control') -%}
    {% if data.get(prefix + '_' + name) -%}
        <td colspan="{{ colspan }}" id="{{ prefix }}_{{ name }}" rowspan="{{ rowspan }}">
            {{ data.get(prefix + '_' + name) }}
        </td>
    {% else %}
        <td colspan="{{ colspan }}" id="{{ prefix }}_{{ name }}">
            <input type="{{ type }}" name="{{ prefix }}_{{ name }}" class="{{ class }}">
        </td>
    {%- endif %}
{%- endmacro %}
{# input 第二种类型宏 差别在于多了时间类datetime #}
{% macro input_2(name,prefix,colspan,rowspan=0,type='text',class='form-control datetime') -%}
    {% if data.get(prefix + '_' + name) -%}
        <td colspan="{{ colspan }}" id="{{ prefix }}_{{ name }}" rowspan="{{ rowspan }}">
            {{ data.get(prefix + '_' + name) }}
        </td>
    {% else %}
        <td colspan="{{ colspan }}" id="{{ prefix }}_{{ name }}">
            <input type="{{ type }}" name="{{ prefix }}_{{ name }}" class="{{ class }}">
        </td>
    {%- endif %}
{%- endmacro %}
{# input 第三种类型宏,用于计算平均值#}
{% macro input_3(name,prefix,colspan,rowspan=0,type='text',class='form-control avg',cls_td='',readonly=False)-%}
    {% if data.get(prefix + '_' + name) -%}
        <td colspan="{{ colspan }}" id="{{ prefix }}_{{ name }}" rowspan="{{ rowspan }}" class="{{ cls_td }}">
            {{ data.get(prefix + '_' + name) }}
        </td>
    {% elif not readonly %}
        <td colspan="{{ colspan }}" id="{{ prefix }}_{{ name }}" class="{{ cls_td }}">
            <input type="{{ type }}" name="{{ prefix }}_{{ name }}" class="{{ class }}">
        </td>
    {% elif readonly %}
        <td colspan="{{ colspan }}" id="{{ prefix }}_{{ name }}" class="{{ cls_td }}">
            <input type="{{ type }}" name="{{ prefix }}_{{ name }}" class="{{ class }}" readonly>
        </td>
    {%- endif %}
{%- endmacro %}

<div class="container">
<h3>外胎静态性能试验报告<br><small>TIRE WHEEL TEST PROPERTY TEST REPORT</small></h3>
    <form action="" method="post">
        <div class="table-responsive">
        <table class="table table-bordered table-condensed table1">
            <tr>
                <td colspan="6">基础信息</td>
            </tr>
            <tr>
                <td>标称尺度<br><small>Size</small></td>
                <td>{{ detail.get('size') }}</td>
                <td>委托编号<br><small>Request Number</small></td>
                <td>{{ detail.get('req_num') }}</td>
                <td>实验目的<br><small>Purpose</small></td>
                <td>{{ detail.get('purpose') }}</td>
            </tr>
            <tr>
                <td>商标/花纹代码<br><small>Pattern</small></td>
                <td>{{ detail.get('brand') }}</td>
                <td>DOT码/加硫机号<br><small>DOT Num.</small></td>
                {{ input_1(name='dot_num',prefix='static') }}
                <td>组装时间<br><small>Assembly Time</small></td>
                {{ input_2(name='assembly_time',prefix='static') }}
            </tr>
            <tr>
                <td>花纹代号<br>Design Num.</td>
                {{ input_1(name='pattern_code',prefix='static') }}
                <td>周期牌号<br><small>Week Number</small></td>
                {{ input_1(name='dot_week',prefix='static') }}
                <td>完成时间<br><small>Finish Date</small></td>
                {{ input_2(name='finish_time',prefix='static') }}
            </tr>
            <tr>
                <td>模具号<br><small>Mold</small></td>
                {{ input_1(name='mold_num',prefix='static') }}
                <td>加硫条码号<br><small>Barcode</small></td>
                {{ input_1(name='barcode',prefix='static') }}
                <td>标准轮辋<br><small>Standard Rim</small></td>
                {{ input_1(name='rim_code',prefix='static') }}
            </tr>
            <tr>
                <td>胎面批号<br><small>Tread Run</small></td>
                {{ input_1(name='tread_num',prefix='static') }}
                <td>最大荷重<br><small>Max Load</small></td>
                <td>{{ detail.get('load') }}kg</td>
                <td>最大风压<br><small>Max Pressure</small></td>
                <td>{{ detail.get('inflate') }}kpa</td>
            </tr>
        </table>
        {% if 'dim' in total %}
            <table class="table table-bordered table-condensed table1">
                <tr>
                    <td colspan="11">尺寸测量</td>
                </tr>
                <tr>
                    <td>测试风压<br>Pressure</td>
                    {{ input_1(name='dim_test_inflate',colspan=2,prefix='static') }}
                    <td>测试轮辋<br>Rim</td>
                    {{ input_1(name='dim_test_rim_code',colspan=2,prefix='static') }}
                    <td>测试时间<br>Time</td>
                    {{ input_2(name='dim_test_finish_time',colspan=2,prefix='static') }}
                    <td >技术员<br>Tech.</td>
                    {{ input_1(name='dim_test_operator',prefix='static') }}
                </tr>
                <tr>
                    <td>项目<br>Item</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>平均值<br>Avg.</td>
                    <td>基准<br>SPEC</td>
                    <td>判定<br>Judgement</td>
                    <td>量具编号<br>Gauge</td>
                </tr>
                <tr>
                    <td>重量<br>Weight</td>
                    {{ input_1(name='dim_test_tire_weight',colspan=7,prefix='static') }}
                    {{ input_1(name='dim_test_tire_spec_weight',prefix='static') }}
                    <td></td>
                    {{ input_1(name='dim_test_tire_weight_gauge',prefix='static') }}
                </tr>
                <tr>
                    <td>外径<br>Diameter</td>
                    {{ input_1(name='dim_test_tire_out_dia',colspan=7,prefix='static') }}
                    {{ input_1(name='dim_test_tire_spec_dia',prefix='static') }}
                    <td></td>
                    {{ input_1(name='dim_test_tire_dia_gauge',prefix='static') }}
                </tr>
                <tr>
                    <td>总宽<br>Overall Width</td>
                    {{ input_3(name='dim_test_tire_overall_width_1',prefix='static') }}
                    {{ input_3(name='dim_test_tire_overall_width_2',prefix='static') }}
                    {{ input_3(name='dim_test_tire_overall_width_3',prefix='static') }}
                    {{ input_3(name='dim_test_tire_overall_width_4',prefix='static') }}
                    {{ input_3(name='dim_test_tire_overall_width_5',prefix='static') }}
                    {{ input_3(name='dim_test_tire_overall_width_6',prefix='static') }}
                    {{ input_3(name='dim_test_tire_overall_width_avg',prefix='static',cls_td='avg1',readonly=True) }}
                    {{ input_1(name='dim_test_tire_overall_width_spec',prefix='static') }}
                    <td></td>
                    {{ input_1(name='dim_test_tire_overall_width_gauge',prefix='static') }}
                </tr>
                <tr>
                    <td>断宽<br>Section Width</td>
                    {{ input_3(name='dim_test_tire_section_width_1',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_width_2',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_width_3',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_width_4',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_width_5',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_width_6',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_width_6',prefix='static',cls_td='avg1',readonly=True) }}
                    {{ input_1(name='dim_test_tire_section_width_spec',prefix='static') }}
                    <td></td>
                    {{ input_1(name='dim_test_tire_section_width_gauge',prefix='static') }}
                </tr>
                <tr>
                    <td>汶沟深<br>Nonskid</td>
                    {{ input_3(name='dim_test_tire_section_nonskid_1',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_nonskid_2',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_nonskid_3',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_nonskid_4',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_nonskid_5',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_nonskid_6',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_nonskid_avg',prefix='static',cls_td='avg1',readonly=True) }}
                    {{ input_1(name='dim_test_tire_section_nonskid_spec',prefix='static') }}
                    <td></td>
                    {{ input_1(name='dim_test_tire_section_nonskid_gauge',prefix='static') }}
                </tr>
                <tr>
                    <td>磨耗<br>T.W.I</td>
                    {{ input_3(name='dim_test_tire_section_twi_1',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_twi_2',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_twi_3',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_twi_4',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_twi_5',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_twi_6',prefix='static') }}
                    {{ input_3(name='dim_test_tire_section_twi_avg',prefix='static',cls_td='avg1',readonly=True) }}
                    {{ input_1(name='dim_test_tire_section_twi_spec',prefix='static') }}
                    <td></td>
                    {{ input_1(name='dim_test_tire_section_twi_gauge',prefix='static') }}
                </tr>
                <tr>
                    <td colspan="5">尺寸测量判定<br>Judgement</td>
                    <td colspan="6">
                        <input type="radio" name="dim_judge">合格
                        <input type="radio" name="dim_judge">不合格
                    </td>
                </tr>
            </table>
        {% endif %}
        {% if 'unseat' in total %}
            <table class="table table-bordered table-condensed table1">
            <tr>
                <td colspan="8">脱圈阻力</td>
            </tr>
            <tr>
                <td>P值<br>P value</td>
                {{ input_1(name='unseat_test_p_value',prefix='static') }}
                <td>测试速度<br>Speed</td>
                {{ input_1(name='unseat_test_speed',colspan=2,prefix='static') }}
                <td>测试温度<br>Temperature</td>
                {{ input_1(name='unseat_test_temp',colspan=2,prefix='static') }}
            </tr>
            <tr>
                <td>测试风压<br>Pressure</td>
                {{ input_1(name='unseat_test_pressure',prefix='static') }}
                <td>测试轮辋<br>Rim</td>
                {{ input_1(name='unseat_test_dim',prefix='static') }}
                <td>测试时间<br>Time</td>
                {{ input_2(name='unseat_test_time',prefix='static') }}
                <td>技术员<br>Tech.</td>
                {{ input_1(name='unseat_test_operator',prefix='static') }}
            </tr>
            <tr>
                <td>参考标准<br>Reference</td>
                {{ input_1(name='unseat_test_ref',prefix='static') }}
                <td>合格基准<br>Spec</td>
                {{ input_1(name='unseat_test_spec',prefix='static') }}
                <td>脱唇块<br>Block</td>
                {{ input_1(name='unseat_test_block',prefix='static') }}
                <td>设备编号<br>Equipment Id</td>
                {{ input_1(name='unseat_test_equipment_id',prefix='static') }}
            </tr>
            <tr>
                <td colspan="3">测试点<br>Position</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </tr>
            <tr>
                <td colspan="3">测试荷重<br>Load</td>
                {{ input_3(name='unseat_test_position_1',prefix='static') }}
                {{ input_3(name='unseat_test_position_2',prefix='static') }}
                {{ input_3(name='unseat_test_position_3',prefix='static') }}
                {{ input_3(name='unseat_test_position_4',prefix='static') }}
                {{ input_3(name='unseat_test_position_5',prefix='static') }}
            </tr>
            <tr>
                <td colspan="3">轮胎状态<br>Tire Status</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>测试最大值<br>Max load</td>
                {{ input_1(name='unseat_test_position_max_value',prefix='static') }}
                <td>合格率%<br>Yield</td>
                <td></td>
                <td>判定<br>Judgement</td>
                <td colspan="3">
                    <input type="radio" name="unseat_judge">合格
                    <input type="radio" name="unseat_judge">不合格
                </td>
            </tr>
            </table>
        {% endif %}
        {% if 'plunger' in total %}
            <table class="table table-bordered table-condensed table1">
            <tr>
                <td colspan="8">破坏能</td>
            </tr>
            <tr>
                <td colspan="2">测试速度<br>Speed</td>
                {{ input_1(name='plunger_test_speed',colspan=2,prefix='static') }}
                <td colspan="2">测试温度<br>Temperature</td>
                {{ input_1(name='plunger_test_temp',colspan=2,prefix='static') }}
            </tr>
            <tr>
                <td>测试风压<br>Pressure</td>
                {{ input_1(name='plunger_test_pressure',prefix='static') }}
                <td>测试轮辋<br>Dim</td>
                {{ input_1(name='plunger_test_dim',prefix='static') }}
                <td>测试时间<br>Time</td>
                {{ input_2(name='plunger_test_time',prefix='static') }}
                <td>技术员<br>Tech.</td>
                {{ input_1(name='plunger_test_operator',prefix='static') }}
            </tr>
            <tr>
                <td>参考标准<br>Reference</td>
                {{ input_1(name='plunger_test_ref',prefix='static') }}
                <td>合格基准<br>Spec</td>
                {{ input_1(name='plunger_test_spec',prefix='static') }}
                <td>柱压杆<br>Bar size</td>
                {{ input_1(name='plunger_test_bar_size',prefix='static') }}
                <td>设备编号<br>Equipment Id</td>
                {{ input_1(name='plunger_test_equipment_id',prefix='static') }}
            </tr>
            <tr>
                <td colspan="3">测试点<br>Position</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </tr>
            <tr>
                <td colspan="3">测试荷重<br>Load</td>
                {{ input_3(name='plunger_test_load_1',prefix='static') }}
                {{ input_3(name='plunger_test_load_2',prefix='static') }}
                {{ input_3(name='plunger_test_load_3',prefix='static') }}
                {{ input_3(name='plunger_test_load_4',prefix='static') }}
                {{ input_3(name='plunger_test_load_5',prefix='static') }}
            </tr>
            <tr>
                <td colspan="3">位移量<br>Deflection</td>
                {{ input_3(name='plunger_test_deflection_1',prefix='static') }}
                {{ input_3(name='plunger_test_deflection_2',prefix='static') }}
                {{ input_3(name='plunger_test_deflection_3',prefix='static') }}
                {{ input_3(name='plunger_test_deflection_4',prefix='static') }}
                {{ input_3(name='plunger_test_deflection_5',prefix='static') }}
            </tr>
            <tr>
                <td colspan="3">能量<br>Energy</td>
                {{ input_3(name='plunger_test_energy_1',prefix='static') }}
                {{ input_3(name='plunger_test_energy_2',prefix='static') }}
                {{ input_3(name='plunger_test_energy_3',prefix='static') }}
                {{ input_3(name='plunger_test_energy_4',prefix='static') }}
                {{ input_3(name='plunger_test_energy_5',prefix='static') }}
            </tr>
            <tr>
                <td colspan="3">轮胎状态<br>Tire Status</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>最大能量<br>Max Energy</td>
                {{ input_1(name='plunger_test_energy_max',prefix='static') }}
                <td>合格率 %<br>Yeild</td>
                <td></td>
                <td>判定<br>Judgement</td>
                <td colspan="3">
                    <input type="radio" name="plunger_judge">合格
                    <input type="radio" name="plunger_judge">不合格
                </td>
            </tr>
            <tr>
                <td rowspan="2">备注<br>Remark</td>
                <td colspan="4" rowspan="2" id="remark">{{ data.get('remark') or '<textarea name="remark" id="" cols="30" rows="3" class="form-control"></textarea>'|safe }}</td>
                <td>核定<br>Approval</td>
                <td>审核<br>Auditing</td>
                <td>报告人<br>Reporter</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Jim Ge</td>
            </tr>
            </table>
        {% endif %}
        {% if 'footprint' in total %}
            <div style="color: red;text-align: center">需要在表后附上接地图</div>
        {% endif %}
    </div>
        <input type="submit" class="btn btn-success" name="save" value="Save">
        <div id="document_ref">QR-03-011-06</div>
    </form>
</div>
<div class="copyright" id="copyright">
    <div class="container-fluid">
        <div>Cooper(Kunshan)Tire Co.,Ltd.</div>
        <div>固铂(昆山)轮胎有限公司</div>
        <table class="table" id="copyright_table">
            <tr>
                <td>
                <div>CONFIDENTIAL</div>
                <div>COMPETIVE COMMERICAL INFORMATION</div>
                <div>Access limited to authorized personnel|Copyright@Unpublished</div>
                </td>
                <td>
                <div>机密的</div>
                <div>有竞争力的商业信息</div>
                <div>仅限授权人员访问|版权所有@尚未发表</div>
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    $(".datetime").datetimepicker({
        format:'yyyy-mm-dd hh:ii',
        //autoclose:true,//点选日期之后关闭控件
        todayHighlight:true,
        todayBtn:true,
        maxView: "decade"
    });
    /*
    双击修改td，保留原值
     */
    $("td").dblclick(function(){
        //获取不到td的id值则取消逻辑
        if ('undefined' == typeof($(this).attr('id'))){
            alert('该单元格无法修改');
            return false;
        } else {
            try {
                var nodename = $(this).children()[0].nodeName;
            } catch(e) {
                var nodename = 'undefined';
            };
            if( nodename == 'INPUT' || $(this).attr('class') == 'avg1') {
                /*
                如果没有子节点那么就会出错，无法执行下一步的判断
                td中如果嵌套了input也不提供修改,如果是avg1的机器计算的也不提供修改
                知识点：1.jquery对象和原生js对象的转换 2.判断节点的方法
                */
                //避免干扰
                //alert('该单元格已经嵌套INPUT,无法再次生成INPUT');
                return false;
            } else {
                //若获取到id值传入构造的input中作为name
                var td_id = $(this).attr('id');
                //原值
                var old_value = $(this)[0].innerText;
                //原class
                //console.log(td_id);
                //console.log(old_value);
                if(confirm('确定需要修改数据吗？')){
                    if (td_id.indexOf('time') != -1){
                    str = '<input type="text" class="form-control datetime" name="' +
                    td_id + '" value="' + old_value + '">';
                    } else {
                        str = '<input type="text" class="form-control" name="' +
                            td_id + '" value="' + old_value + '">';
                    }
                    //console.log(str);
                    $(this).html(str);
                }
            }
        }
    });
    /*
    求平均值
     */
    $(".avg").bind("input propertychange oninput", function(){
        $(".avg1").each(function(){
            var x = $(this).siblings().children('input.avg');
            var sum=0;
            for(var i=0;i<6;i++){
                try{
                    sum += Number(x[i].value);
                } catch(e) {
                    //console.log(e);
                    sum += 0;
                };
                console.log(sum);
            };
            $(this).children().attr('value',(sum/6).toFixed(2));
        });
    })
</script>
</body>
</html>